.navbar {
    margin: 0;
    border-bottom: 2px solid black;
}

.header {
    font-size: 32px;
    padding: 5px 15px;
    margin: 5px 15px;
    margin-top: 0px;
}

.nav-links {
    display: flex;
}

.nav-link {
    padding: 5px 10px;
    margin: 5px 5px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.nav-link:hover {
    animation: forwards 2s ease-in;
    background-color: black;
    color: white;
}